@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend&family=Sen:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-logo{
    width: 250px !important;
}
.nav-item a{
    font-size: 18px;
     font-family: "Lexend", sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     
}
.nav-item a:hover{
    color: #009fa0;
    text-decoration: 1.4px solid underline;
    text-underline-offset: 5px;
    
}
.navbar-nav{
    gap: 10px;
}
.bg-light{
    background-color: rgb(255, 255, 255) !important;
}
.active{
    color: #009fa0 !important;
    text-decoration: 1.4px solid underline;
    text-underline-offset: 5px;
    
}
.font_one{
     font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font_two{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.chaapa{
    color: azure;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 70px;
}
p{
    font-size: 22px;
}
.about-p{
    text-align: justify;
    font-family: "Lexend", sans-serif;
    color: rgb(99, 99, 99);
}
.text-color{
    color: #009fa0;
}
.text-icon{
    width: 44px;
    height: 44px;
}
.title{
 font-family: "Sofia Sans Semi Condensed", sans-serif;
color: #009fa0;
font-weight: 700;
}
.about_img{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 5px;
}
.p-chaapa{
    text-align: justify;
    color: rgb(222, 222, 222);
    font-family: "Lexend", sans-serif;
}
.btn-outline-danger{
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
}
.btn-outline-danger:hover{
    background-color: #fff;
    color: #009fa0;
    border: 2px solid #fff;
}
@media only screen and (max-width:768px){
    .main-logo{
        width: 200px !important;
    }
    .chaapa{
        font-size: 25px;
    }
}

/* nav end */

/* slide_container start */

/* slide_container end */
.catgory_bg{
    background-color: #009fa0 !important;
    height: 100vh !important;
  
}